<!DOCTYPE html>
<html>
<head>
	<title data-localize="common.title"></title>
	
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
	<script src="/javascripts/3p/jquery-1.8.2.min.js"></script>
	<script src="/javascripts/3p/jquery.i18n.properties-min-1.0.9.js"></script>
	<script src="/javascripts/3p/soyutils.js"></script>
	<script src="/javascripts/main.js"></script>
</head>

<body>
	<header>
		<div id="header-area">
			<a id="logo" href="" data-localize="common.logo"></a>
			<nav id="header-auth">
				<a id="nav-userAccount"><%= userAccount %></a>
				<a id="nav-signup" class="button" href="/users/signup" data-localize="common.signupText"></a>
				<a id="nav-login" class="button" href="/users/login" data-localize="common.loginText"></a>
				<a id="nav-logout" class="button" href="/users/logout" data-localize="common.logoutText"></a>
			</nav>
		</div>
		<hr/>
	</header>
	<div id="main-content">